---
import BaseLayout from "./BaseLayout.astro";
import SiteHeader from "~/components/SiteHeader.astro";
import SiteFooter from "~/components/SiteFooter.astro";

interface Props {
  title?: string;
  description?: string;
}
---

<BaseLayout title={Astro.props.title} description={Astro.props.description}>
  <SiteHeader />
  <main>
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>

